<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common-head"/>

<body>

<head th:replace="common/header :: common-header"/>


<div class="container-fluid">
    <div class="row">
        <nav th:replace="common/nav :: common-nav"/>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2">Pizza list</h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <form class="d-flex" role="search" action="/pizzas/search" method="get">
                            <input id="name" name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                        </form>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/pizzas/add';">Add pizza</button>
                    </div>
                </div>
            </div>



            <div class="table-responsive" th:switch="${pizzas}">
            <h3 th:case="null">No pizzas yet!</h3>
                <div th:case="*">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pizza : ${pizzas}">
                            <td></td>
<!--                            <td th:text="${pizza.id}"></td>-->
                            <td th:text="${pizza.name}"></td>
                            <td th:text="${pizza.description}"></td>
                            <td><a class="nav-link" th:href="@{/pizzas/edit/{id}(id=${pizza.id})}">Edit</a></td>
                            <td><a class="nav-link" th:href="@{/pizzas/delete/{id}(id=${pizza.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </main>
    <hr/>




</div>
    </div>
</div>

<!-- This would be the footer -->
<script src="/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
</body>
